!!! 5
html
  head
    title= title
    link(type="text/css",href="/stylesheets/jquery-ui-1.8.7.custom.css",rel="stylesheet")	
    link(type="text/css",href="/stylesheets/edit-book.css",rel="stylesheet")	
    script(type="text/javascript",src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js")
    script(type="text/javascript",src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js")
    script(type="text/javascript",src="/javascripts/edit-book.js")
  body
    header
      h1 Bookify! Editor
    #browserContainer
      #browserTitle
        h2 My Books
      #browserBody
        .browserItem Create Book
          
    
    #editorContainer

