body {
  font-family: georgia, "times new roman", serif;
  font-size: 90%;
  background-color: #f7f6f5;
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
}
h1 {
  font-size: 200%;
  color: #004276;
  padding: 0;
  margin: 0;
}
h2 {
  padding: 0;
  margin: 0;
}
#browserContainer {
  width: 25%;
  float: left;
  height: 100%;
  padding: 0;
  margin: 0;
}
#browserTitle {
  background-color: #004276;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  width: 100%;
  color: #fff;
}
#browserBody {
  width: 100%;
  background-color: #f4f4f4;
}
.browserItem {
  width: 100%;
  text-align: left;
}
#editorContainer {
  width: 75%;
  float: right;
  padding: 0;
  margin: 0;
}
