@import "global"

header
  width 100%

h1
  font-size 200%
  color back-hard-color
  padding 0
  margin 0
  
h2 
  padding 0
  margin 0

#browserContainer
  width 25%
  float left
  height 100%
  padding 0
  margin 0

#browserTitle
  background-color back-hard-color
  border-left 1px solid border-soft-color
  border-right 1px solid border-soft-color
  width 100%
  color text-color-on-hard
  
#browserBody
  width 100%
  background-color back-soft-color

.browserItem
  width 100%
  text-align left
  
#editorContainer
  width 75%
  float right
  padding 0
  margin 0

