/*
* soft blue background color: F4F4F4
* border soft color: D3D3D3
* hard blue background color: 004276
* default off-white background: F7F6F5
*/
back-soft-color = #F4F4F4
border-soft-color = #D3D3D3
back-hard-color = #004276
default-back-color = #F7F6F5
text-color-on-hard = #FFFFFF

body
  font-family georgia, "times new roman", serif
  font-size 90%
  background-color default-back-color
  margin 0
  padding 0


