body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#msgs {
  width: 200px;
  height: 200px;
  border: solid 1px;
  overflow: auto;
}
#text {
  width: 400px;
  height: 400px;
  border: solid 1px;
  overflow: auto;
}
